<div class="row">
    <div class="col-xl-12 col-md-12">
        <div class="card mb-4">
            <div class="card-body">
                <section>
                    <p class="text-center"><strong>Edit Comment</strong></p>
                    <form method="POST" action="/comments/<%= comment._id %>">
                        <input type="hidden" name="_method" value="PUT">
                        <!-- Message input -->
                        <div class="form-outline mb-4">
                            <textarea class="form-control" name="comment" id="comment" rows="4" required><%= comment.comment %></textarea>
                        </div>

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-4">
                            Save
                        </button>

                    </form>
                </section>
            </div>
        </div>
    </div>
</div>
